<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ info.title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="center-text">
        <p>Current Command Sent: <span id="current_command">{{ last_command if last_command else 'None' }}</span></p>
        <span class="response" id="response"></span>
    </div>
    <div class="image-container">
        <img src="{{ info.stream_url }}" alt="Image Display">
    </div>
    <div class="center-text">
        <p>Enter a command to send to Arduino:</p>
    </div>
    <form onsubmit="sendCommand(event)">
        <input type="text" id="command_input" name="command" autocomplete="off" autofocus oninput="limitInput(event)">
        <button type="submit">Send</button>
    </form>
<script src="/static/script.js"></script>
</body>
</html>
